Source: tflint
Section: admin
Priority: optional
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Build-Depends:
 debhelper-compat (= 13),
 golang-go (>= 1.19),
 dh-golang,
Standards-Version: 4.6.1
Homepage: https://github.com/terraform-linters/tflint
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/tflint
Vcs-Git: https://gitlab.com/kaisenlinux/packages/tflint.git

Package: tflint
Architecture: amd64 arm64 i386
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 golang-go (>= 1.19),
Description: A Pluggable Terraform Linter
